@import 'tailwindcss';

/* 색관련은 노션페이지 참고*/
@theme {
  /* 보라색 */
  --color-primary: #2e1f42; /* 어두운 보라색 */
  --color-secondary-1: #42257f; /* 중간 보라색 */
  --color-secondary-2: #572cbc; /* 밝은 보라색 */

  /* 기존 블랙, 화이트 */
  --color-black: #111111;
  --color-white: #eeeeee;

  /* 회색 */
  --color-gray-150: #dcdcdc;
  --color-gray-250: #b0b0b0;
  --color-gray-350: #888888;
  --color-gray-450: #555555;
  --color-gray-550: #333333;

  /* 상태 관리 색상 */
  --color-error: #f44336;
  --color-success: #4caf50;
  --color-warning: #ff9800;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes fade-in-scale {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-fade-in: fade-in 0.3s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
